<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667703011150-32h3vo1tl5n7o5blka5r80nm61ljrumk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667703011150-32h3vo1tl5n7o5blka5r80nm61ljrumk</string>
	<key>API_KEY</key>
	<string>AIzaSyClKPUWhvfuOW0RWjraTjpS40-J-LMo1WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>667703011150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wiins.io</string>
	<key>PROJECT_ID</key>
	<string>wiins-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wiins-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667703011150:ios:69e2e41bd3781f027b201f</string>
</dict>
</plist>